<aside class="col-lg-3 pe-xl-5">
    <!-- Account menu toggler (hidden on screens larger 992px)-->
    <div class="d-block d-lg-none p-4"><a class="btn btn-outline-accent d-block" href="#account-menu" data-bs-toggle="collapse"><i class="ci-menu me-2"></i>Account menu</a></div>
    <!-- Actual menu-->
    <div class="h-100 border-end mb-2">
      <div class="d-lg-block collapse" id="account-menu">
        <ul class="list-unstyled mb-0">
          <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="nft-account-settings.html"><i class="ci-settings opacity-60 me-2"></i>Profile Settings</a></li>
          <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="nft-account-my-items.html"><i class="ci-image opacity-60 me-2"></i>My Items<span class="fs-sm text-muted ms-auto">5</span></a></li>
          <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="nft-account-my-collections.html"><i class="ci-view-list opacity-60 me-2"></i>My Collections<span class="fs-sm text-muted ms-auto">2</span></a></li>
          <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="nft-account-favorites.html"><i class="ci-heart opacity-60 me-2"></i>Favorites<span class="fs-sm text-muted ms-auto">3</span></a></li>
          <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="nft-account-notifications.html"><i class="ci-bell opacity-60 me-2"></i>Notifications</a></li>
          <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="account-signin.html"><i class="ci-sign-out opacity-60 me-2"></i>Sign out</a></li>
        </ul>
      </div>
    </div>
  </aside>
  <!-- Content-->
  <section class="col-lg-9 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
      <h1 class="h3 mb-4 pt-2 text-center text-sm-start">Profile Settings</h1>
      <div class="bg-secondary rounded-3 p-4 mb-4 text-center text-sm-start">
        <div class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center"><img class="rounded mb-sm-0 mb-3" src="img/nft/vendor/avatar-square.jpg" width="90" alt="Createx Studio">
          <div class="ms-n2 ps-sm-4">
            <button class="btn btn-outline-accent mb-2 ms-2" type="button"><i class="ci-loading me-2"></i>Change <span class='d-none d-sm-inline'>avatar</span></button>
            <button class="btn btn-outline-danger mb-2 ms-2" type="button"><i class="ci-trash me-2"></i>Delete</button>
            <div class="pt-1 mb-0 fs-sm text-muted">We recommend an image of at least 400x400. Gifs work too :)</div>
          </div>
        </div>
      </div>
      <form>
        <div class="row gy-3 mb-4 pb-md-3 mb-2">
          <div class="col-sm-6">
            <label class="form-label" for="profile-name">Full name</label>
            <input class="form-control" id="profile-name" type="text" value="Robert Fox">
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="profile-username">Username</label>
            <input class="form-control" id="profile-username" type="text" placeholder="@enter_name">
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="profile-uid">UID</label>
            <input class="form-control" id="profile-uid" type="text" value="374702749">
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="profile-email">Email</label>
            <input class="form-control" id="profile-email" type="email" value="example@gmail.com">
          </div>
          <div class="col-12">
            <label class="form-label" for="profile-bio">Short bio</label>
            <textarea class="form-control" id="profile-bio" rows="4" placeholder="Tell about yourself in few words"></textarea><span class="form-text">0 of 500 characters used.</span>
          </div>
        </div>
        <h3 class="h5 mb-3">Social media profiles</h3>
        <div class="row gy-3 mb-4 pb-2">
          <div class="col-sm-6">
            <label class="form-label" for="profile-website">Website</label>
            <input class="form-control" id="profile-website" type="url" placeholder="Enter URL">
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="profile-twitter">Twitter</label>
            <input class="form-control" id="profile-twitter" type="url" placeholder="Enter URL">
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="profile-facebook">Facebook</label>
            <input class="form-control" id="profile-facebook" type="url" placeholder="Enter URL">
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="profile-instagram">Instagram</label>
            <input class="form-control" id="profile-instagram" type="url" placeholder="Enter URL">
          </div>
          <div class="col-12"><a href="#"><i class="ci-add me-2"></i><ins>Add more</ins></a></div>
        </div>
        <!-- Submit-->
        <div class="d-flex flex-sm-row flex-column">
          <button class="btn btn-accent" type="submit">Update profile</button>
        </div>
      </form>
    </div>
  </section>
</div>
</div>
</div>
</main>
<!-- Footer-->
<footer class="footer bg-darker">
<div class="bg-dark">
<div class="container py-5">
<div class="row py-lg-4">
  <div class="col-lg-4 mb-lg-0 mb-4">
    <div class="widget pb-3 mb-lg-4">
      <h3 class="widget-title text-light pb-1">Stay informed</h3>
      <form class="subscription-form validate" action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <div class="input-group flex-nowrap"><i class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
          <input class="form-control rounded-start" type="email" name="EMAIL" placeholder="Your email" required>
          <button class="btn btn-accent" type="submit" name="subscribe">Subscribe*</button>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input class="subscription-form-antispam" type="text" name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
        </div>
        <div class="form-text text-light opacity-50">*Subscribe to our newsletter to receive early discount offers, updates and new products info.</div>
        <div class="subscription-status"></div>
      </form>
    </div>
    <div><a class="btn-social bs-light bs-twitter me-2 mb-2" href="#"><i class="ci-twitter"></i></a><a class="btn-social bs-light bs-facebook me-2 mb-2" href="#"><i class="ci-facebook"></i></a><a class="btn-social bs-light bs-instagram me-2 mb-2" href="#"><i class="ci-instagram"></i></a><a class="btn-social bs-light bs-pinterest me-2 mb-2" href="#"><i class="ci-pinterest"></i></a><a class="btn-social bs-light bs-youtube me-2 mb-2" href="#"><i class="ci-youtube"></i></a></div>
  </div>
  <div class="col-lg-6 offset-lg-1">
    <div class="d-flex flex-sm-row flex-column justify-content-sm-between mt-n4 mx-lg-n3">
      <div class="widget widget-links widget-light mt-4 px-lg-3 px-sm-n2">
        <h3 class="widget-title text-light">Company</h3>
        <ul class="widget-list">
          <li class="widget-list-item"><a class="widget-list-link" href="#">About Us</a></li>
          <li class="widget-list-item"><a class="widget-list-link" href="#">How It Works</a></li>
          <li class="widget-list-item"><a class="widget-list-link" href="#">Create an NFT With Us</a></li>
          <li class="widget-list-item"><a class="widget-list-link" href="#">Support</a></li>
          <li class="widget-list-item"><a class="widget-list-link" href="#">Blog</a></li>
          <li class="widget-list-item"><a class="widget-list-link" href="#">My Account</a></li>
        </ul>
      </div>
      <div class="widget widget-links widget-light mt-4 px-lg-3 px-sm-n2">
        <h3 class="widget-title text-light">Marketplace</h3>
        <ul class="widget-list">
          <li class="widget-list-item"><a class="widget-list-link" href="#">All NFTs</a></li>
          <li class="widget-list-item"><a class="widget-list-link" href="#">New</a></li>
          <li class="widget-list-item"><a class="widget-list-link" href="#">Art</a></li>
          <li class="widget-list-item"><a class="widget-list-link" href="#">Music</a></li>
          <li class="widget-list-item"><a class="widget-list-link" href="#">Photography</a></li>
          <li class="widget-list-item"><a class="widget-list-link" href="#">Utility</a></li>
        </ul>
      </div>
      <div class="widget widget-links widget-light mt-4 px-lg-3 px-sm-n2">
        <h3 class="widget-title text-light">Help</h3>
        <ul class="widget-list">
          <li class="widget-list-item"><a class="widget-list-link" href="#">Terms and Conditions</a></li>
          <li class="widget-list-item"><a class="widget-list-link" href="#">Privacy Policy</a></li>
          <li class="widget-list-item"><a class="widget-list-link" href="#">FAQ</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="container my-lg-4 my-3 py-2">
<div class="d-flex flex-md-row flex-column-reverse align-items-center justify-content-md-between">
<div class="fs-xs text-light opacity-50">&copy; All rights reserved. Made by <a class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a></div>
<div class="d-flex align-items-start mb-md-0 mb-3 mx-n1">
  <div class="px-1"><a class="btn-market btn-apple bg-dark" href="#"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App Store</span></a></div>
  <div class="px-1"><a class="btn-market btn-google bg-dark" href="#"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google Play</span></a></div>
</div>
</div>
</div>