<%- include('header1'); -%>

<div class="col-md-6 pt-4 mt-3 mt-md-0 container">
    <h2 class="h4 mb-3">No account? Sign up</h2>
    <p class="fs-sm text-muted mb-4">Registration takes less than a minute but gives you full control over your orders.</p>
    <form class="needs-validation" novalidate method="post" action="/register">
      <div class="row gx-4 gy-3">
        <div class="col-sm-6">
          <label class="form-label" for="reg-fn">First Name</label>
          <input name="name" class="form-control" type="text" required id="reg-fn">
          <div class="invalid-feedback">Please enter your first name!</div>
        </div>
     
        <div class="col-sm-6">
          <label class="form-label" for="reg-email">E-mail Address</label>
          <input name="email" class="form-control" type="email" required id="reg-email">
          <div class="invalid-feedback">Please enter valid email address!</div>
        </div>
      
        <div class="col-sm-6">
          <label class="form-label" for="reg-password">Password</label>
          <input name="password" class="form-control" type="password" required id="reg-password">
          <div class="invalid-feedback">Please enter password!</div>
        </div>
        
        <div class="col-12 text-end">
          <button  class="btn btn-primary" type="submit"><i class="ci-user me-2 ms-n1"></i>Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>


<%- include('resources'); -%>
<%- include('footer'); -%>
